/* BANNER PRINCIPAL */

.banner {
    width: 100%;
    height: 400px;

    background-image: url("../img/banner.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}