/* =========================================
   BASE.CSS - Configurações Gerais e utilitários
   ========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #43B4FB; /* Bright Blue (Estrutural) */
    color: #1A1A1A;
    padding-top: 100px;
}

main {
    flex: 1;
}

/* CLASSES UTILITÁRIAS DE CORES E TEXTO */
.negrito {
    font-weight: 700 !important;
}

.texto-azul {
    color: #43B4FB !important; /* Bright Blue */
}

.texto-verde {
    color: #4CAE50 !important; /* Garden Green */
}

.texto-amarelo {
    color: #FFDE5A !important; /* Banana Yellow */
}

.texto-vermelho {
    color: #FF524D !important; /* Vivid Red */
}