    /* RESET */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    /* CORPO */
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        background: linear-gradient(
    180deg,
    #6fa8c4 0%,
    #72c8cf 35%,
    #8bc98b 70%,
    #a8ce83 100%
);

        background-attachment: fixed;
        color: white;
        padding-top: 100px;
    }

    main {
        flex: 1;
    }

    /* Classes utilitárias */
    .negrito {
        font-weight: bold !important;
    }

    .texto-azul {
        color: #3a86ff !important;
    }

    .texto-verde {
        color: #22c55e !important;
    }