/* RESET E CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* CORPO DA PÁGINA */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    /* Fundo sólido Bright Blue (Estrutural) */
    background-color: #43B4FB;
    color: #1A1A1A;
    padding-top: 100px;
}

main {
    flex: 1;
}

/* CLASSES UTILITÁRIAS */
.negrito {
    font-weight: bold !important;
}

.texto-azul {
    color: #43B4FB !important; /* Bright Blue */
}

.texto-verde {
    color: #4CAF50 !important; /* Garden Green */
}

.texto-amarelo {
    color: #FFDE5A !important; /* Banana Yellow */
}

.texto-vermelho {
    color: #FF524D !important; /* Vivid Red */
}