<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultivando o Saber - Quiz</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/ui.css') }}">

<link rel="stylesheet" 
    href="{{ url_for('static', filename='css/pages/student.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/pages/quiz.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/student-navbar.css') }}">
</head>

<!--Página onde responde ao quiz

responde:
POST /submit
quiz-result.html


-->
<body>

{% include 'components/student-navbar.html' %}
{% include 'components/sidebar.html' %}

<main class="quiz-page">

    <section class="quiz-container card">

        <div class="quiz-header">

            <h2 id="quiz-title">
                Carregando quiz...
            </h2>

            <p id="quiz-theme"></p>

            <div class="progress-bar quiz-bar">

                <div
                    id="quiz-progress"
                    class="progress-bar-fill">
                </div>

            </div>

            <span id="progress-text"></span>

        </div>


        <div id="question-container">

            <h3 id="question-text"></h3>

            <div
                id="options-container"
                class="options-container">

            </div>

        </div>


        <div class="quiz-actions">

            <button
                id="btn-next"
                class="btn btn-primary">

                Próxima

            </button>

        </div>

    </section>

</main>

<script>

const QUIZ_ID = {{ id }};

</script>

<script src="{{ url_for('static', filename='js/quiz-api.js') }}"></script>
<script src="{{ url_for('static', filename='js/quiz-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>

{% include 'components/footer.html' %}

</body>
</html>