/* LOGIN */
.login-box {
    background: #eaeaea;

    padding: 30px;
    border-radius: 20px;

    width: 360px;
    margin-top: 30px;

    text-align: center;

    border: 2px solid #3a86ff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
    color: #1a4fd6;
    margin-bottom: 10px;
}

.login-box p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 15px;
}

/* LOGO DO LOGIN */
.login-box .logo {
    width: 40px;
    margin-bottom: 10px;
}

/* LABEL */
label {
    display: block;
    text-align: left;

    margin-bottom: 5px;

    color: #444;
    font-weight: normal;
}

/* INPUT */
input {
    width: 100%;

    padding: 12px;
    margin-bottom: 15px;

    border-radius: 10px;
    border: 1.5px solid #3a86ff;

    outline: none;
    background: white;
}

input:focus {
    border-color: #3a86ff;

    box-shadow:
        0 0 0 3px
        rgba(58, 134, 255, 0.2);
}

/* LINK DE CADASTRO */
.cadastro {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #555;
}

.cadastro a {
    color: #3a86ff;
    font-weight: bold;
    text-decoration: none;
}

/* DICA */
.dica {
    margin-top: 15px;
    padding: 10px;

    background: #c6f6d5;
    border: 2px solid #22c55e;

    border-radius: 10px;

    font-size: 0.85rem;
    color: #065f46;
}

/* CADASTRO VERDE */
.cadastro-box {
    border-color: #22c55e;
}

.cadastro-box h1 {
    color: #22c55e;
}

.cadastro-box input {
    border-color: #22c55e;
}

.cadastro-box input:focus {
    border-color: #22c55e;

    box-shadow:
        0 0 0 3px
        rgba(34, 197, 94, 0.2);
}

.cadastro-box button {
    background: #22c55e;
}

.cadastro-box .cadastro a {
    color: #22c55e;
}

/* TEMA PROFESSOR */
.professor-box {
    --cor-professor: #972fff;

    border-color: var(--cor-professor);
}

.professor-box h1,
.professor-box .cadastro a {
    color: var(--cor-professor);
}

.professor-box input {
    border-color: var(--cor-professor);
}

.professor-box input:focus {
    border-color: var(--cor-professor);

    box-shadow:
        0 0 0 3px
        rgb(151 47 255 / 20%);
}

.professor-box button {
    background: var(--cor-professor);
}

.professor-dica {
    background: #f3e8ff;
    border: 2px solid var(--cor-professor);
    color: #5b21b6;
}