<!--Menu // painel inicial do jogo da mémoria-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Cultivando o saber - menu jogo da memória </title>

  <!-- CSS modular (padrão do projeto) -->
 
  <link rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/ui.css') }}">
</head>

<body>

  <main class="card green" style="text-align:center; padding:40px;">

    <!-- TÍTULO -->
    <header>
      <h1>Plataforma Educa</h1>
      <p>Jogo da Memória - ODS</p>
    </header>

    <!-- MASCOTE -->
    <section style="margin-top:20px;">
      <img
    src="{{ url_for('static',
    filename='imagens/TugaPqn.png') }}"
    alt="Mascote Tuga"style="max-width:180px; border-radius:12px;"
    >
    </section>

    <!-- BOTÃO -->
    <section style="margin-top:20px;">
      <button id="start-btn" class="primary">
        Começar
      </button>
    </section>

  </main>

  <!-- JS -->
  <script
    src="{{ url_for('static',
    filename='js/gameMenu.js') }}">
  
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<script src="{{ url_for('static', filename='js/services/api.js') }}"></script>
<!--script src="{{ url_for('static', filename='js/middleware/auth-guard.js') }}"></script-->
</body>
</html>