

    <!-- ===========================
         ESQUERDA
    ============================ -->

 

    
 <!-- ===========================
         STATUS DO JOGADOR
    ============================ -->

    <div class="student-status">

        <!-- FOTO -->
        <a href="{{ url_for('pages.student_profile') }}" class="student-avatar-link">
        <img

            src="{{ url_for('static',
            filename='imagens/avatar-default.png') }}"

            class="student-foto-perfil"

            alt="Perfil">
        </a>

        <!-- INFORMAÇÕES -->
    <div class="student-player-info">

        <span class="student-name">
            {{ nome_aluno }}
        </span>

        <span class="nivel">
            ⭐ Nível {{ nivel }}
        </span>

        <div class="xp-bar">

            <div
                class="xp-progress"
                style="width: {{ progresso }}%;">
            </div>

        </div>

        <span class="xp">

            {{ xp }}/1000 XP

        </span>

    </div>

   
            <!-- PLANTA -->
            <div class="planta-status">
                
                <img
                    src="{{ url_for(
                        'static',
                        filename='imagens/plantas/planta' ~ nivel ~ '.png') }}">

            </div>

        </div>
   

   


    <div class="student-left">

        <!-- MENU -->

        <button
            class="student-menu-button"
            onclick="toggleSidebar()">

            ☰

        </button>

        <!-- LOGO -->

        <div class="student-logo">

            <img
                src="{{ url_for('static',
                filename='imagens/logo-tuga.png') }}"
                alt="Mascote Tuga">

            <div class="student-brand-text">

                <h1>PLATAFORMA EDUCA</h1>

                <p>Cultivando o Saber</p>

            </div>

        </div>

    </div>

    <!-- ===========================
         MENU
    ============================ -->

    <nav class="student-menu">

        <a href="{{ url_for('pages.home') }}">
            🏠 Início
        </a>

        <a href="{{ url_for('pages.games') }}">
            🎮 Jogos
        </a>

        <a href="{{ url_for('pages.quizzes') }}">
            🧠 Quiz
        </a>

        <a href="{{ url_for('pages.ods') }}">
            🌎 ODS
        </a>

        <a href="{{ url_for('pages.ranking') }}">
            🏆 Ranking
        </a>

        <a href="{{ url_for('pages.about_us') }}">
            👥 Sobre Nós
        </a>

    </nav>

   
 

    <!-- ===========================
         SAIR
    ============================ -->

    <div class="student-right">

        <a

            href="{{ url_for('pages.logout') }}"

            class="student-logout-btn">

            🚪 Sair

        </a>

    </div>

</header>