<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultivando o Saber - Ranking</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<header class="topbar">
    <input type="checkbox" id="menu-check" class="menu-checkbox">
    <label for="menu-check" class="overlay"></label>

    <div class="sidebar">
        <div class="perfil-sidebar">
            <img src="img/foto.png" class="foto-perfil">
            <p>Nível 2</p>
        </div>
        <nav class="links-sidebar">
            <a href="index.html">HOME</a>
            <a href="ods.html">ODS</a>
            <a href="jogos.html">JOGOS</a>
            <a href="quiz.html">QUIZ</a>
            <a href="ranking.html">RANKING</a>
            <a href="dashboard.html">PERFIL</a>
        </nav>
    </div>

    <div class="left">
        <label for="menu-check" class="hamburger">
            <span></span><span></span><span></span>
        </label>

        <div class="info-container">
            <div class="logo">
                <span class="icon">🌱</span>
                <div>
                    <h1>ECO-PIXEL</h1>
                    <p>ADVENTURE</p>
                </div>
            </div>
            <div class="level">
                <span class="star">★ NÍVEL 2</span>
                <div class="bar"><div class="progress"></div></div>
                <span class="xp">450/1000</span>
            </div>
        </div>
    </div>

    <nav class="menu">
        <a href="index.html">HOME</a>
        <a href="ods.html">ODS</a>
        <a href="jogos.html">JOGOS</a>
        <a href="quiz.html">QUIZ</a>
        <a href="sobrenos.html">SOBRE NÓS</a>
        <a href="ranking.html">RANKING</a>
        <a href="dashboard.html">PERFIL</a>
    </nav>

    <a href="dashboard.html" class="perfil-externo">
        <img src="img/foto.png" class="foto-perfil">
    </a>
</header>

    <main>
        <section class="sobre-sessao ranking-wrapper">
            <div class="texto-ranking-topo">
                <h2>Ranking</h2>
                <p>Os melhores protetores do planeta! :)</p>
            </div>

            <div class="ranking-container">
                <div class="podium-container">
                    <div class="podium-card first">
                        <div class="podium-medal">👑</div>
                        <img src="img/foto.png" class="podium-avatar" alt="Player 1">
                        <span id="first-name"></span>
                     <span id="first-xp"></span>
                    </div>

                    <div class="podium-card second">
                        <div class="podium-medal">🥈</div>
                        <img src="img/foto.png" class="podium-avatar" alt="Player 2">
                        <span id="second-name"></span>
                        <span id="second-xp"></span>
                    </div>

                    
                
                    <div class="podium-card third">
                        <div class="podium-medal">🥉</div>
                        <img src="img/foto.png" class="podium-avatar" alt="Player 3">
                        <span id="third-name"></span>
                        <span id="third-xp"></span>
                    </div>
                </div>

                <div class="ranking-list" id="ranking-list">
                    
 </div>

                        <div class="ranking-item current-user">
                        <span class="position">12º</span>
                        <img src="img/foto.png" class="item-avatar" alt="Você">
                        <span class="player-name"></span>
                        <span class="player-xp"></span>
                   
                </div>

                <br>
                 </a>
            </div>
        </section>
    </main>

    <footer>
        <p>© 2026 FATEC - Informática para Negócios</p>
    </footer>
<script>

async function loadRanking() {

    const response =
        await fetch("http://127.0.0.1:5000/ranking");

    const ranking =
        await response.json();

    if (ranking.length > 0) {
        document.getElementById("first-name")
            .innerText = ranking[0].name;

        document.getElementById("first-xp")
            .innerText = ranking[0].xp + " XP";
    }

    if (ranking.length > 1) {
        document.getElementById("second-name")
            .innerText = ranking[1].name;

        document.getElementById("second-xp")
            .innerText = ranking[1].xp + " XP";
    }

    if (ranking.length > 2) {
        document.getElementById("third-name")
            .innerText = ranking[2].name;

        document.getElementById("third-xp")
            .innerText = ranking[2].xp + " XP";
    }

    let html = "";

    for (let i = 3; i < ranking.length; i++) {

        html += `
            <div class="ranking-item">
                <span class="position">${i + 1}º</span>
                <span class="player-name">
                    ${ranking[i].name}
                </span>
                <span class="player-xp">
                    ${ranking[i].xp} XP
                </span>
            </div>
        `;
    }

    document.getElementById("ranking-list")
        .innerHTML = html;
}

loadRanking();

</script>
</body>
</html>